body {
  background: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #009e4d;
  font-size: 22px;
  font-weight: normal;
  margin-top: 2em;
  border-bottom: 2px solid #009e4d;
}

p.logo {
  text-align: right;
}

a:link, a:visited {
  color: #009e4d;
  text-decoration: none;
}
